<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/" id="title">Your Dashboard</a>
      </h1>
    </header>

<!-- Loop over each object in the blogs array -->
{{#each Posts as |Post| }}
    <div class="row mb-4 posts">
      <div class="col-md-5">
        <h2>
          <a href="/post/{{allposts.id}}">{{allposts.title}}</a><span>{{allposts.date_created}}</span>
        </h2>
      </div>
    </div>
{{/each}}

    <div class="form-group">
      <button class="btn btn-secondary" type="submit" id="plusNewPost">+ New Post</button>
    </div>